use crate::core::{Part, Solution};

pub fn solve(part: Part, input: String) -> String {
    match part {
        Part::P1 => Day<DAY>::solve_part_one(input),
        Part::P2 => Day<DAY>::solve_part_two(input),
    }
}

struct Day<DAY>;
impl Solution for Day<DAY> {
    fn solve_part_one(input: String) -> String {
        String::new()
    }

    fn solve_part_two(input: String) -> String {
        String::new()
    }
}
