namespace AdventOfCode.Solutions.Year<YEAR>.Day<DAY>;

class Solution() : SolutionBase(<DAY>, <YEAR>, "")
{
    protected override string? SolvePartOne() => null;

    protected override string? SolvePartTwo() => null;
}
