namespace AdventOfCode.Solutions.Year<YEAR>.Day<DAY>;

class Solution() : SolutionBase(<DAY>, <YEAR>, "")
{
    protected override string SolvePartOne() => RustSolver.Solve(Year, Day, 1, Input);

    protected override string SolvePartTwo() => RustSolver.Solve(Year, Day, 2, Input);
}
